---
---
<div class="fixed right-4 bottom-32 z-50 md:hidden">
    <div class='hamburger-menu w-14 h-14 relative bg-cyan-500 flex flex-col justify-around rounded-full p-3 cursor-pointer shadow-lg'>
        <span class="block bg-white w-full h-1 transition"></span>
        <span class="block bg-white w-full h-1 transition"></span>
        <span class="block bg-white w-full h-1 transition"></span>
    </div>
</div>


<style>
    .hamburger-menu.active-hamburger > span:first-child {
        width: 32px;
        position: absolute;
        left: 12px;
        transform: rotate(45deg)
    }

    .hamburger-menu.active-hamburger > span:nth-child(2) {
        opacity: 0;
    }

    .hamburger-menu.active-hamburger > span:nth-child(3) {
        width: 32px;
        position: absolute;
        left: 12px;
        transform: rotate(-45deg);
    }
</style>
<script>
    const pressHamburgerBtn = () => {
        document.querySelector('.hamburger-menu')?.classList.toggle('active-hamburger');
        document.querySelector('.menu')?.classList.toggle('active-menu');
    }

    document.addEventListener('DOMContentLoaded', () => {
        document.querySelector('.hamburger-menu')?.addEventListener('click', pressHamburgerBtn);
    });
</script>