---
import ProjectComponent from '../../components/projectComponent/ProjectComponent.astro';

interface Props {
    title: string,

}

const { title } = Astro.props;
---

<main class="w-full max-w-5xl m-24">
    <h2 class="text-2xl font-black mb-5">{ title }</h2>
    <ProjectComponent 
        title='CoursesLibra' 
        image='web.webp' 
        description='A web application that offers a diverse range of IT courses from various platforms, aiming to simplify the search for the perfect course with advanced filters. Users can create accounts, add courses, share feedback, and rate completed courses.'
        tecnologies={[ 'React.JS', 'TypeScript', 'CSS Modules', 'Node.JS', 'MySQL', 'Express' ]}
        codeLink='https://github.com/facudam/fullstack-courses-app'
    />
</main>