---
interface Props {
    title: string,

}
const { title } = Astro.props;
---

<main id="projects" class="w-full max-w-5xl mt-24">
    <h2 class="text-2xl font-black pt-2">{ title }</h2>
    <section class="flex flex-col gap-10 mt-5">
        <slot></slot>
    </section>
</main>