---
interface Props {
    greets: string
    firstTitle: string,
    firstLetter: string,
    emphasizedWords: string,
    restOfWords: string[],
    resumeLink: string
    resume: string
}

const { greets, firstTitle, firstLetter, emphasizedWords, restOfWords, resumeLink, resume } = Astro.props
---

<header class="w-full max-w-5xl pt-8 flex flex-col gap-2 md:pt-20">
    <div class="w-full max-w-2xl flex flex-col gap-3">
        <span class="text-cyan-500 font-semibold text-lg">{ greets }</span>
        <h1 class="text-3xl md:text-5xl font-black">{ firstTitle }</h1>
        <p class="text-lg">{ firstLetter } <span class="text-cyan-500 font-semibold">{ emphasizedWords}</span> { restOfWords[0] } <a class="text-cyan-500" href="https://www.tiktok.com/@facudam" target="_blank" rel="noopener noreferrer">{ restOfWords[1] }</a> { restOfWords[2] }</p>
    </div>
    <div class="my-4 flex gap-3">
        <a href="https://www.linkedin.com/in/facundo-caceres-dev/" target="_blank" class="bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl border-2 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Linkedin</a>
        <a class="font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 border-2 hover:text-cyan-500 hover:border-cyan-500" href={ resumeLink } target="_blank">{ resume }</a>
    </div>
</header>