---
interface Props {
    src: string
}

const { src } = Astro.props;
---

<div class="p-2 border border-slate-300 w-full max-w-56 flex flex-col gap-2 bg-stone-950 rounded-sm -rotate-2">
    <div class="flex h-4 gap-2 justify-between">
        <div class="w-5 rounded-sm border border-slate-300 bg-gray-800 grayscale"></div>
        <div class="w-5 rounded-sm border border-slate-300 bg-gray-800 grayscale"></div>
        <div class="w-5 rounded-sm border border-slate-300 bg-gray-800 grayscale"></div>
        <div class="w-5 rounded-sm border border-slate-300 bg-gray-800 grayscale"></div>
        <div class="w-5 rounded-sm border border-slate-300 bg-gray-800 grayscale"></div>
        <div class="w-5 rounded-sm border border-slate-300 bg-gray-800 grayscale"></div>
        <div class="w-5 rounded-sm border border-slate-300 bg-gray-800 grayscale"></div>
        <div class="w-5 rounded-sm border border-slate-300 bg-gray-800 grayscale"></div>
    </div>
    <div class="h-48 overflow-hidden border border-slate-300">
        <img class="grayscale rounded-sm" src={ src } alt="old-picture"/>
    </div>
    
    <div class="flex h-4 gap-2 justify-between">
        <div class="w-5 rounded-sm border border-slate-300 bg-gray-800 grayscale"></div>
        <div class="w-5 rounded-sm border border-slate-300 bg-gray-800 grayscale"></div>
        <div class="w-5 rounded-sm border border-slate-300 bg-gray-800 grayscale"></div>
        <div class="w-5 rounded-sm border border-slate-300 bg-gray-800 grayscale"></div>
        <div class="w-5 rounded-sm border border-slate-300 bg-gray-800 grayscale"></div>
        <div class="w-5 rounded-sm border border-slate-300 bg-gray-800 grayscale"></div>
        <div class="w-5 rounded-sm border border-slate-300 bg-gray-800 grayscale"></div>
        <div class="w-5 rounded-sm border border-slate-300 bg-gray-800 grayscale"></div>
    </div>
</div>