<a href="/">
    <div class="group text-white flex font-black cursor-pointer">
        <span class="bg-sky-600 px-1 group-hover:bg-transparent group-hover:text-sky-500 transition-all duration-1000">F</span>
        <span class="px-1 text-sky-500 group-hover:bg-sky-600 group-hover:text-white duration-1000">C</span>
    </div>
</a>