<a href="/">
    <div class="group text-white md:text-lg flex font-black cursor-pointer">
        <span class="text-slate-100 bg-sky-600 px-1 group-hover:bg-transparent group-hover:text-sky-600 transition-all duration-500">F</span>
        <span class="px-1 text-sky-600 group-hover:bg-sky-600 group-hover:text-slate-100 duration-500">C</span>
    </div>
</a>