<a href="/">
    <div class="group text-white flex font-black cursor-pointer">
        <span class="bg-cyan-700 px-1 group-hover:bg-transparent group-hover:text-cyan-700 transition-all duration-500">F</span>
        <span class="px-1 text-cyan-700 group-hover:bg-cyan-700 group-hover:text-white duration-500">C</span>
    </div>
</a>