---
import Technology from '../../components/technology/Technology.astro';

interface Props {
    title: string
}

const { title } = Astro.props;
---

<section class="w-full max-w-5xl mt-8">
    <h2 class="text-2xl font-black">{ title }</h2>
    <div class="mt-5 pb-6 flex flex-wrap gap-x-8 gap-y-10">
        <Technology imageLink='html.svg' alt='HTML' title='HTML' />
        <Technology imageLink='css.webp' alt='CSS' title='CSS' />
        <Technology imageLink='javascript.webp' alt='JavaScript' title='JavaScript' />
        <Technology imageLink='react.webp' alt='ReactJS' title='React.JS' />
        <Technology imageLink='typescript.webp' alt='TypeScript' title='TypeScript' />
        <Technology imageLink='tailwind.webp' alt='Taildwind' title='Tailwind' />
        <Technology imageLink='node.webp' alt='Node.JS' title='Node.JS' />
        <Technology imageLink='sql.webp' alt='SQL' title='SQL' />
        <Technology imageLink='next-js-logo.webp' alt='NextJS' title='Next.JS' />
        <Technology imageLink='git.webp' alt='git' title='Git' />
        <Technology imageLink='github.webp' alt='Github' title='Github' />
        <Technology imageLink='astro.svg' alt='Astro' title='Astro' />
    </div>
</section>