---
import '@fontsource-variable/inter';

interface Props {
    language: string,
    title: string,
    description: string,
    iconImg?: string
}

const { language, title, description, iconImg } = Astro.props
---

<!DOCTYPE html>
<html lang={ language }>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href={ iconImg } />
    <meta name="description" content={ description }>
    <title>{ title }</title>
</head>
<body class="flex justify-center items-center flex-col px-4 py-4 h-full w-full">
    <slot />
</body>
</html>

<style is:global>
    html {
        font-family: 'Inter Variable', sans-serif;
        color: #fff;
        scroll-behavior: smooth;
    }
    body {
        background: radial-gradient(#090213, #262b2a);
    }
</style>
