---
import '@fontsource-variable/inter';

interface Props {
    language: string,
    title: string,
    description: string,
    iconImg?: string
}

const { language, title, description, iconImg } = Astro.props
---

<!DOCTYPE html>
<html lang={ language } class="scroll-smooth text-white">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href={ iconImg } />
    <meta name="description" content={ description }>
    <title>{ title }</title>
</head>
<body class="flex justify-center items-center flex-col px-4 py-4 relative h-full w-full bg-slate-950">
    <div class="absolute bottom-2/4 -z-10 left-0 right-0 top-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:14px_24px] [mask-image:radial-gradient(ellipse_60%_50%_at_50%_0%,#000_70%,transparent_100%)]"></div>
    <slot />
</body>
</html>

<style is:global>
    html {
        font-family: 'Inter Variable', sans-serif;
    }
</style>
