---
interface Props {
    language: string,
    title: string,
    description: string,
    iconImg: string
}

const { language, title, description, iconImg } = Astro.props
---

<!DOCTYPE html>
<html lang={ language }>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href={ iconImg } />
    <meta name="description" content={ description }>
    <title>{ title }</title>
</head>
<body>
    <slot />
</body>
</html>