---
import Logo from '../../ui elements/logo/Logo.astro'
import HamburgerBtn from '../hamburgerBtn/HamburgerBtn.astro'
interface Props {
    project: string,
    about: string,
    contact: string,
    language: string,
    pageLink: string
}

const { project, about, contact, language, pageLink } = Astro.props
---

<nav class="flex justify-between items-center w-full max-w-5xl ">
    <Logo />
    <HamburgerBtn />
    <ul class="menu flex flex-col  gap-5 pt-14 pl-8 fixed font-medium w-4/5 h-full z-30 bottom-0 right-0 bg-slate-900 md:bg-transparent md:p-0 md:w-auto md:h-auto md:static md:flex-row md:text-lg md:gap-7">
        <li>
            <a class="cursor-pointer text-xl hover:text-sky-600 transition md:text-lg" href="#projects">{ project }</a>
        </li>
        <li>
            <a class="cursor-pointer text-xl hover:text-sky-600 transition md:text-lg" href="#about">{ about }</a>
        </li>
        <li>    
            <a class="cursor-pointer text-xl hover:text-sky-600 transition md:text-lg" href="https://www.linkedin.com/in/facundo-caceres-dev" target="_blank" rel="noopener noreferrer">{ contact }</a>
        </li>
        <li class="flex flex-col mt-5 md:mt-0 md:flex-row gap-5 md:gap-5 md:ml-4 z-10 xl:ml-0 xl:flex-col xl:fixed xl:inset-y-1/2 xl:p-3 xl:pt-5 xl:right-2 xl:gap-5 xl:h-56 xl:transform xl:-translate-x-1/2 xl:-translate-y-1/2 xl:w-auto xl:bg-sky-500/40 xl:rounded-2xl xl:shadow-md">
            <a href="https://github.com/facudam" target="_blank" title="Github" rel="noopener noreferrer" class="z-20 flex flex-row gap-3 items-center">
                <img class="h-5 md:w-5 md:h-auto xl:mt-2 xl:w-7" src="github.svg" alt="github" />
                <span class="text-lg text-slate-300 md:hidden">Github</span>
            </a>
            <a href="https://www.linkedin.com/in/facundo-caceres-dev/" target="_blank" title="Linkedin" rel="noopener noreferrer" class="z-20 flex flex-row gap-3 items-center">
                <img class="h-5 md:w-5 md:h-auto xl:w-7 scale-125" src="linkedin.svg" alt="linkedin" />
                <span class="text-lg text-slate-300 md:hidden">Linkedin</span>
            </a>
            <a href="mailto: facundocaceres.email@gmail.com" target="_blank" title="e-mail" rel="noopener noreferrer" class="z-20 flex flex-row gap-3 items-center">
                <img class="h-5 md:w-5 md:h-auto xl:w-7" src="gmail.svg" alt="gmail" />
                <span class="text-lg text-slate-300 md:hidden">E-mail</span>
            </a>
            <a href="https://www.tiktok.com/@facudam" target="_blank" title="TikTok" rel="noopener noreferrer" class="z-20 flex flex-row gap-3 items-center">
                <img class="h-5 md:w-5 md:h-auto xl:w-7" src="tiktok.svg" alt="tiktok" />
                <span class="text-lg text-slate-300 md:hidden">TikTok</span>
            </a>
        </li>
    </ul>
    <a class="hover:text-sky-600 font-medium uppercase md:text-lg" href={ pageLink }>{ language }</a>
</nav>

<style>
    @media screen and (max-width:768px){
        .menu { display: none; }
    }
    .menu.active-menu {
        display: flex;
        animation: appearing .3s ease forwards;
    }
    @keyframes appearing {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
</style>

