---
import Logo from '../../ui elements/logo/Logo.astro'
interface Props {
    project: string,
    about: string,
    contact: string,
    language: string
}

const { project, about, contact, language} = Astro.props
---

<nav class="flex justify-between w-full max-w-5xl">
    <Logo />
    <ul class="flex gap-6 font-medium">
        <a class="cursor-pointer" href="#projects"><li>{ project }</li></a>
        <a class="cursor-pointer" href="#about"><li>{ about }</li></a>
        <a class="cursor-pointer" href="https://www.linkedin.com/in/facundo-caceres-dev" target="_blank" rel="noopener noreferrer"><li>{ contact }</li></a>
    </ul>
    <a href="">{ language }</a>
</nav>

